* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainBG);
}

.content-wrapper {
  padding: 20px;
  font-weight: 300;
}

h1 {
  font-size: 20px;
  color: var(--white);
  padding: 20px 0px;
}

.main-paragraph {
  font-size: 18px;
  padding-bottom: 20px;
}

span {
  color: var(--white);
}

.main-paragraph,
.createdby-container p,
.days-left {
  color: var(--softBlue);
}

.card-container {
  background-color: var(--cardBG);
  height: 610px;
  width: 360px;
  border-radius: 15px;
}

.content-wrapper img {
  width: 320px;
  height: auto;
  border-radius: 15px;
}

.createdby-container {
  display: flex;
  align-items: center;
  padding-top: 17px;
}

.createdby-container img {
  width: 40px;
  border: 1px solid white;
  border-radius: 50px;
}

.createdby-container p {
  font-size: 14px;
  padding-left: 15px;
}

.eth-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--softBlue);
}

.eth-balance,
.days-left {
  display: inline-block;
}

.eth-balance-container,
.days-left-container {
  display: flex;
  align-items: center;
}

.eth-balance,
.days-left {
  padding-left: 7px;
  font-size: 14px;
}

.eth-balance {
  color: var(--cyan);
}
